.chooseBtn {
    display: none;
}

.choose-label {
    box-shadow: #ccc 0px 0px 0px 1px;
    width: 40px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    position: absolute;
    background-color: #bdbdbd;
    overflow: hidden;
    margin-left: 46px;
}

.choose-label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background-color: #fff;
    z-index: 20;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.chooseBtn:checked + label.choose-label:before {
    left: 20px;
}

.chooseBtn:checked
+ label.choose-label {
    background-color: #FFCC00;
}

.container{
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 20px;
}

.item{
    flex-grow:1;
    line-height: 20px;
}


.label{
    color: #5f6368;
    margin-left: 6px;
}

.inputText{
    width:40px;
    margin-left: 46px;
}